<html ng-app="mapGCW">
<head>

    <link href='http://fonts.googleapis.com/css?family=Roboto:900,300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="public/css/app.css" rel="stylesheet">

</head>
<body ng-controller="mapDisplay">

        <script type="application/javascript">

            var screenWidth = 1500;
            var screenHeight = 800;

            function getRandomArbitrary(min, max) {
                return Math.random() * (max - min) + min;
            }

            function makeArrayOf(value, length) {
                var arr = [], i = length;
                while (i--) {
                    arr[i] = value;
                }
                return arr;
            }

            var solarSystem = [
                {
                    systemName: 'Map 1',
                    systemSharingLink: '',
                    systemPlanets: {
                        lava: makeArrayOf(0,getRandomArbitrary(0,2).toFixed(0)),
                        moon: makeArrayOf(0,getRandomArbitrary(0,2).toFixed(0)),
                        jungle: makeArrayOf(0,getRandomArbitrary(0,2).toFixed(0)),
                        ice: makeArrayOf(0,getRandomArbitrary(0,2).toFixed(0)),
                        gas:  makeArrayOf(0,getRandomArbitrary(0,1).toFixed(0))
                    },
                    css: {
                        position: {
                            x: 150,
                            y: 400
                        }
                    },
                    elementID: 'map-1',
                    gameState: {
                        state: '',
                        owner: 'exodus',
                        isHome: true,
                        isContested: false
                    }
                },
                {
                    systemName: 'Map 2',
                    systemSharingLink: '',
                    systemPlanets: {
                        lava: makeArrayOf(0,getRandomArbitrary(0,2).toFixed(0)),
                        moon: makeArrayOf(0,getRandomArbitrary(0,2).toFixed(0)),
                        jungle: makeArrayOf(0,getRandomArbitrary(0,2).toFixed(0)),
                        ice: makeArrayOf(0,getRandomArbitrary(0,2).toFixed(0)),
                        gas:  makeArrayOf(0,getRandomArbitrary(0,1).toFixed(0))
                    },
                    css: {
                        position: {
                            x: 700,
                            y: 800
                        }
                    },
                    elementID: 'map-2',
                    gameState: {
                        state: '',
                        owner: '',
                        isHome: false,
                        isContested: false
                    }
                },
                {
                    systemName: 'Map 3',
                    systemSharingLink: '',
                    systemPlanets: {
                        lava: makeArrayOf(0,getRandomArbitrary(0,2).toFixed(0)),
                        moon: makeArrayOf(0,getRandomArbitrary(0,2).toFixed(0)),
                        jungle: makeArrayOf(0,getRandomArbitrary(0,2).toFixed(0)),
                        ice: makeArrayOf(0,getRandomArbitrary(0,2).toFixed(0)),
                        gas:  makeArrayOf(0,getRandomArbitrary(0,1).toFixed(0))
                    },
                    css: {
                        position: {
                            x: 800,
                            y: 1200
                        }
                    },
                    elementID: 'map-3',
                    gameState: {
                        state: '',
                        owner: 'rlm',
                        isHome: true,
                        isContested: false
                    }
                },
                {
                    systemName: 'Map 4',
                    systemSharingLink: '',
                    systemPlanets: {
                        lava: makeArrayOf(0,getRandomArbitrary(0,2).toFixed(0)),
                        moon: makeArrayOf(0,getRandomArbitrary(0,2).toFixed(0)),
                        jungle: makeArrayOf(0,getRandomArbitrary(0,2).toFixed(0)),
                        ice: makeArrayOf(0,getRandomArbitrary(0,2).toFixed(0)),
                        gas:  makeArrayOf(0,getRandomArbitrary(0,1).toFixed(0))
                    },
                    css: {
                        position: {
                            x: 754,
                            y: 464
                        }
                    },
                    elementID: 'map-4',
                    gameState: {
                        state: '',
                        owner: '',
                        isHome: false,
                        isContested: true
                    }
                },
            ];

//            for (i = 0; i < 20; i++) {
//                solarSystem.push(
//                    {
//                        systemName: 'Map ' + getRandomArbitrary(50,100).toFixed(0),
//                        systemSharingLink: '',
//                        systemPlanets: {
//                            lava: makeArrayOf(0,getRandomArbitrary(0,2).toFixed(0)),
//                            moon: makeArrayOf(0,getRandomArbitrary(0,2).toFixed(0)),
//                            jungle: makeArrayOf(0,getRandomArbitrary(0,2).toFixed(0)),
//                            ice: makeArrayOf(0,getRandomArbitrary(0,2).toFixed(0)),
//                            gas:  makeArrayOf(0,getRandomArbitrary(0,1).toFixed(0))
//                        },
//                        css: {
//                            position: {
//                                x: getRandomArbitrary(50,screenHeight).toFixed(2),
//                                y: getRandomArbitrary(50,screenWidth).toFixed(2)
//                            }
//                        },
//                        elementID: '',
//                        gameState: {
//                            state: '',
//                            owner: '',
//                            isHome: false,
//                            isContested: true
//                        }
//                    }
//                );
//
//            }

            var clans = [
                {
                    slug: 'exodus',
                    name: 'exodus',
                    color: 'color-yellow'
                }
            ];

            var systemConnections = [
                {
                    from: 'map-1',
                    to: 'map-2'
                },
                {
                    from: 'map-1',
                    to: 'map-4'
                },
                {
                    from: 'map-2',
                    to: 'map-3'
                },
                {
                    from: 'map-4',
                    to: 'map-3'
                },
                {
                    from: 'map-4',
                    to: 'map-2'
                }
            ];


        </script>

        <div id="map">

            <div class="system-container {{map.gameState.owner}}" ng-class="{ 'is-home': map.gameState.isHome }" ng-repeat="map in maps" id="{{map.elementID}}" style="top: {{ map.css.position.x }}px; left:{{ map.css.position.y }}px">

                <ul class="system-state">
                    <li ng-if="map.gameState.isHome">
                        <i class="fa fa-home"></i>
                    </li>

                    <li ng-if="map.gameState.isContested">
                        <i class="fa fa-bolt"></i>
                    </li>

                </ul>

                <div class="system-point-hover-container">

                    <div class="system-point-hover">

                    </div>

                    <div class="system-point">

                    </div>

                </div>

                <div class="system-info">

                    <div class="group">

                        <div class="system-info-name-container">

                            <h2>{{map.systemName}}</h2>

                        </div>

                        <div class="system-info-planet-container">

                            <ul ng-repeat="(type, number) in map.systemPlanets" class="planet {{type}} number-{{number.length}}">
                                <li ng-repeat="planet in number track by $index"></li>
                            </ul>
                        </div>



                        <div ng-if="map.gameState.owner">

                            <div class="ownership-info">

                                {{map.gameState.owner}}

                            </div>

                        </div>

                    </div>

                </div>

            </div>


        </div>

        <div>
            {{map | json}}
        </div>

        <div ng-init="init()"></div>
        <script src="public/js/app.min.js"></script>
        <script src="//localhost:35729/livereload.js"></script>
</body>
</html>